<ion-header [translucent]="true">
  <ion-toolbar color="dark">
    <ion-title>
      Produtos
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-item>
    <ion-input label="Digite um ID:" [(ngModel)]="id"></ion-input>
  </ion-item>

  <ion-button expand="block" (click)="buscarPorID()">
    Buscar por ID
  </ion-button>

  <ion-button expand="block" (click)="buscarprodutos()">
    Limpar Filtro
  </ion-button>

  <div *ngIf="Produto">
    <h2 style="color: blue">Resultado da Busca:</h2>
    <ion-item>
      <ion-badge slot="start">{{Produto.id}}</ion-badge>
      <ion-label>
        <h3>{{Produto.nome}}</h3>
        <p>{{Produto.descricao}}</p>
        <p>{{Produto.validade}}</p>
        <p>{{Produto.preco}}</p>
      </ion-label>
    </ion-item>
  </div>

  <ion-item *ngFor="let user of listaProdutos">
    <ion-badge slot="start">{{user.id}}</ion-badge>
    <ion-label>
      <h3><a>Nome:</a> {{user.nome}}</h3>
      <p><a>Descrição:</a>{{user.descricao}}</p>
      <p><a>Validade:</a>{{user.validade}}</p>
      <p><a>Preço:</a>R${{user.preco}}</p>
    </ion-label>
  </ion-item>

  <ion-fab slot="fixed" horizontal="end" vertical="bottom">
    <ion-fab-button routerLink="/cadastro-produto">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>





